.todoapp {
  @apply relative shadow-lg;
}

.new-todo {
  @apply w-full block relative border-none p-4 pl-14 text-2xl
  text-zinc-600 placeholder-zinc-300 focus:ring-zinc-400;
}

label[for="toggle-all"] {
  font-size: 0;
  @apply absolute h-16 top-0 left-0 z-10;
}

label[for="toggle-all"]:before {
  content: "❯";
  @apply block pt-2 pr-2 pb-4 pl-6 text-2xl text-zinc-300 rotate-90;
}

.toggle-all.checked + label:before {
  @apply text-green-300;
}

.todo-list li {
  @apply relative text-2xl border-b border-solid border-zinc-100;
}

.todo-list li:last-child {
  @apply border-none;
}

.todo-list .new-todo {
  @apply focus:ring-green-300;
}

.todo-list li .toggle {
  @apply w-10 absolute top-0 bottom-0 my-auto opacity-0;
}

.todo-list li label {
  @apply block p-4 pl-14 leading-5 break-all transition-colors;
}

.todo-list li.completed label {
  @apply line-through text-zinc-400;
}

.todo-list li .destroy {
  @apply hidden w-10 h-10 my-auto absolute top-0 right-2 bottom-0 
    text-red-300 text-3xl transition-colors hover:text-red-500;
}

.todo-list li .destroy:after {
  content: "×";
}

.todo-list li:hover .destroy {
  @apply block;
}

.footer {
  @apply flex flex-wrap gap-2 justify-between px-4 py-3
    border-t border-solid border-zinc-100 text-center text-zinc-400;
}

.footer:after {
  content: "";
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  @apply absolute right-0 bottom-0 left-0 overflow-hidden;
}

.filters {
  @apply flex z-10;
}

.filters li a {
  @apply m-1 px-2 py-px border border-solid border-transparent rounded-md
   hover:border-red-200;
}

.filters li a.selected {
  @apply hover:border-red-300;
}

/*
  Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
  IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
*/
.todo-list li .toggle + label,
.todo-list li .toggle + div > a > label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle.checked + label,
.todo-list li .checked + div > a > label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.view a {
  @apply block text-zinc-600;
}

.todo-list li .destroy {
  @apply text-center z-10;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 40px;
  }
}
